# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific files
.vscode/
.idea/
*.DS_Store

# Output data 
output_data/

# Input videos 
input_videos/dataset_video.mp4 
